<div class="sec-title">
    <h4>New Message</h4>
    <div class="clearfix"></div>
    <hr>
</div>


<div class="form-group">
    <label class="control-label" for="sentto">Sent to</label>
    <input type="text" class="form-control" id="sentto" placeholder="Select Reciver">
</div>

<div class="form-group">
    <label class="control-label" for="subject">Subject</label>
    <input type="text" class="form-control" id="subject" placeholder="Enter a subject">
</div>


<div class="form-group">
    <label class="control-label" for="message">Message</label>
    <textarea class="form-control" id="message" rows="5" placeholder="Type a message"></textarea>
</div>


<a href="javascript:void(0);" class="btn btn-primary pull-right">Send</a>

<div class="clearfix"></div>