<div class="sec-title messages-header">
    <h4 class="pull-left">Sent</h4>
    <div class="col-sm-6 pull-right">
        <div class="form-group">
            <div class="input-group pull-right">
                <input type="text" class="form-control sm" placeholder="Search Sent Messages" ng-show="showSentSearch" ng-model="SentSearchBox">
                <a href="javascript:void(0)" ng-click="showSentSearch = !showSentSearch" class="btn btn-default input-group-addon btn-wide btn-sm"><i class="icon-search"></i></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
</div>

<div class="list-group list-group-custom inbox-list">

    <a ng-repeat="conversation in conversations" href="#/messages/{{conversation._id}}" ui-sref="messages.single({id: conversation._id })" class="list-group-item new">
        <h6 class="list-group-item-heading">{{getSender(conversation)}}<small class="time">{{conversation.date | date: 'yyyy-MMM-dd h:mma' }}</small></h6>
        <p>{{conversation.subject}}</p>
        <p class="sm">{{conversation.init_message | limitTo: 80}}</p>
    </a>

</div>