<div class="sec-title">
    <h4 class="pull-left">Sent</h4>
    <a href="javascript:void(0);" class="btn btn-default btn-wide btn-sm pull-right"><i class="icon-search"></i></a>
    <div class="clearfix"></div>
    <hr>
</div>

<div class="list-group list-group-custom inbox-list">

    <a href="javascript:void(0);" class="list-group-item">
        <h6 class="list-group-item-heading">Jane Doo <small class="time">10:00pm</small></h6>
        <p>We believe in providing the highest quality service, </p>
        <p class="sm">the safest working environment, the most competitive cost.</p>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
        <h6 class="list-group-item-heading">Jane Doo <small class="time">10:00pm</small></h6>
        <p>We believe in providing the highest quality service, </p>
        <p class="sm">the safest working environment, the most competitive cost.</p>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
        <h6 class="list-group-item-heading">Jane Doo <small class="time">10:00pm</small></h6>
        <p>We believe in providing the highest quality service, </p>
        <p class="sm">the safest working environment, the most competitive cost.</p>
    </a>

</div>