<div class="sec-title">
    <h4 class="pull-left">Sent</h4>
    <a href="javascript:void(0);" class="btn btn-default btn-wide btn-sm pull-right"><i class="icon-search"></i></a>
    <div class="clearfix"></div>
    <hr>
</div>

<div class="list-group list-group-custom inbox-list">

    <a ng-repeat="conversation in conversations" href="#/messages/{{conversation._id}}" ui-sref="messages.single({id: conversation._id })" class="list-group-item new">
        <h6 class="list-group-item-heading">{{getSender(conversation)}}<small class="time">{{conversation.date | date: 'yyyy-MMM-dd h:mma' }}</small></h6>
        <p>{{conversation.subject}}</p>
        <p class="sm">{{conversation.init_message | limitTo: 80}}</p>
    </a>

</div>