<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 sidebar">
            <div class="well well-lg shadow">
                <a href="#" class="btn btn-primary btn-block"><i class="icon-edit"></i> New Message</a>
                <br>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">Inbox</a></li>
                    <li role="presentation"><a href="#">Sent</a></li>
                    <li class="divider"></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>

            </div>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="well well-lg shadow"></div>
        </div>
    </div>
</div>