
    <div class="row">

        <div class="col-lg-3 col-md-4 sidebar">
            <div class="well shadow">
                <a href="#/messages/newMessage" ui-sref="messages.newmessage" class="btn btn-primary btn-block"><i class="icon-edit"></i> New Message</a>
                <br>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ui-sref-active="active"><a href="#/messages/inbox" ui-sref="messages.inbox">Inbox</a></li>
                    <li role="presentation" ui-sref-active="active"><a href="#/messages/sent" ui-sref="messages.sent">Sent</a></li>
                </ul>

                <hr>

                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="#">Alert</a></li>
                    <li role="presentation" ng-repeat="worker in user.case_workers">
                        <a href="#" class="has-image user-id">
                            <div class="circle-img circle-img-xs pull-left">
                                <img ng-src="{{worker.image}}" alt="{{worker.name.first_name + worker.name.last_name }}">
                            </div>
                            {{worker.name.first_name + " " +worker.name.last_name }}

                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-lg-9 col-md-8">
            <div class="well shadow">
                <div ui-view></div>
            </div>
        </div>

    </div>
