<div class="well well-lg well-log">

    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="asset/img/family.jpg" />
            </li>
            <li>
                <img src="asset/img/family.jpg" />
            </li>
        </ul>
    </div>

    <div class="logform">
        <a class="brand" href="#">
            <img src="asset/img/logo.png" alt="">
        </a>
        <h6 class="primary text-center">Parent & Guardian Portal</h6>


        <div ui-view="">

        </div>

    </div>
    <div class="clearfix"></div>
</div>