<div class="well">
    <div class="sec-title">
        <h4 id="foster-agency-title" class="pull-left primary">Foster agencies in your zip code</h4>
        <a href="#" class="btn btn-default btn-wide btn-sm pull-right hidden-sm hidden-xs"><i class="icon-print"></i></a>
        <div class="clearfix"></div>
        <hr>
    </div>


    <div class="list-group list-group-custom foster-agencies">
        <a href="javascript:void(0);" class="list-group-item" ng-repeat="fosterAgency in fosterAgencies">
            <div class="number-circle">
                <p>{{$index+1}}</p>
            </div>
            <h5 class="primary">California Alliance of Child and Family Services</h5>
            <p>2201 K St, Sacramento, CA 95816</p>
        </a>
    </div>

    <div ui-view></div>
</div>