<cws-nav user="user"></cws-nav>
<div class="container no-padding-md has-fixed-nav">

    <div class="well well-lg shadow profile-form">
        <h4 class="primary">Update Profile</h4>


        <div class="fieldset">
            <h6 class="primary">Parent/Guardian Name</h6>
        </div>
        <form name="form" ng-submit="update(user)" >
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="fname" >First Name <span class="required-elem">*</span></label>
                        <input type="text" class="form-control" id="fname" placeholder="Enter your first name" ng-model="user.name.first_name" required ng-required="true">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="lname">Last Name <span class="required-elem">*</span></label>
                        <input type="text" class="form-control" id="lname" placeholder="Enter your last name" ng-model="user.name.last_name" required ng-required="true">
                    </div>
                </div>
            </div>

            <div class="fieldset">
                <h6 class="primary">Physical Address</h6>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="incare">Attention to or In Care of</label>
                                <input type="text" class="form-control" id="incare" placeholder="Enter name" ng-model="user.address.name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="staddress">Street Address</label>
                        <input type="text" class="form-control" id="staddress" placeholder="Enter street address" ng-model="user.address.street_address">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="staddress2">Street Address 2</label>
                        <input type="text" class="form-control" id="staddress2" placeholder="Enter street address" ng-model="user.address.street_address2">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="Select Sate"  ng-model="user.address.state">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter city"  ng-model="user.address.city">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-danger':!form.zip.$valid && formSubmitted}" >
                                <label class="control-label" for="zip">Zip Code <span class="required-elem">*</span></label>
                                <input type="number" class="form-control" name="zip" id="zip" placeholder="Enter zip code"  ng-model="user.address.zip" min="10000" ng-minlength="5" ng-required="true" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fieldset">
                <h6 class="primary">Logging Settigns</h6>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="email">Email Address <span class="required-elem">*</span></label>
                        <input type="text" class="form-control" id="email" placeholder="Enter your email address"  ng-model="user.email" required ng-required="true">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="password">Current Password <span class="required-elem">*</span></label>
                        <input type="text" class="form-control" id="password" placeholder="Set Password"  ng-model="user.password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="password">New Password</label>
                        <input type="text" class="form-control" id="npassword" placeholder="Set Password"  ng-model="user.npass">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="cnpassword">Confirm new Password</label>
                        <input type="text" class="form-control" id="cnpassword" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <!--!form.$valid  &&-->
            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="formSubmitted && !formValid">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p ng-hide="form.zip.$valid && formSubmitted">Please enter valid zip code!</p>
                <p ng-hide="!passNotMatch && formSubmitted">Password do not match!</p>
                <p ng-hide="!passWeak && formSubmitted">Password is too weak!</p>
            </div>

            <input type="submit" class="btn btn-primary pull-right shadow" value="Update" >
            <div class="clearfix"></div>
        </form>

    </div>


</div>