<cws-nav user="user"></cws-nav>
<div class="container no-padding-md has-fixed-nav">

    <div class="well well-lg shadow profile-form">
        <h4 class="primary">Update Profile</h4>


        <div class="fieldset">
            <h6 class="primary">Parent/Guardian Name</h6>
        </div>
        <!---->
        <form name="form" ng-submit="form.$valid && form.$dirty || form.$valid && form.npassword.$dirty && form.password.$dirty && user.npass != user.cpassword && update()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="fname" >First Name <span class="required-elem">*</span></label>
                        <input type="text" class="form-control" id="fname" placeholder="Enter your first name" ng-model="user.name.first_name" required ng-required="true">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="lname">Last Name <span class="required-elem">*</span></label>
                        <input type="text" class="form-control" id="lname" placeholder="Enter your last name" ng-model="user.name.last_name" required ng-required="true">
                    </div>
                </div>
            </div>

            <div class="fieldset">
                <h6 class="primary">Physical Address</h6>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="incare">Attention to or In Care of</label>
                                <input type="text" class="form-control" id="incare" placeholder="Enter name" ng-model="user.address.name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="staddress">Street Address</label>
                        <input type="text" class="form-control" id="staddress" placeholder="Enter street address" ng-model="user.address.street_address">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="staddress2">Street Address 2</label>
                        <input type="text" class="form-control" id="staddress2" placeholder="Enter street address" ng-model="user.address.street_address_2">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <label class="control-label" for="state">State</label>


                        <select name="state" id="state" class="form-control" ng-model="user.address.state">
                            <option ng-repeat="state in USStates" value="{{state.abbreviation}}">{{state.name}}</option>
                        </select>



                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter city"  ng-model="user.address.city">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-danger':!form.zip.$valid && formSubmitted}" >
                                <label class="control-label" for="zip">Zip Code <span class="required-elem">*</span></label>
                                <input type="number" class="form-control" name="zip" id="zip" placeholder="Enter zip code"  ng-model="user.address.zip" min="10000" ng-minlength="5" ng-required="true" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fieldset">
                <h6 class="primary">Logging Settigns</h6>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="email">Email Address <span class="required-elem">*</span></label>
                        <input type="text" class="form-control" id="email" placeholder="Enter your email address"  ng-model="user.email" required ng-required="true">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="password">Current Password <span class="required-elem">*</span></label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Current Password"  ng-model="user.password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="password">New Password</label>
                        <input type="password" class="form-control" name="npassword" id="npassword" ng-pattern="strongRegex" placeholder="New Password"  ng-model="user.npass">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="cnpassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="cnpassword" ng-pattern="strongRegex" placeholder="Confirm New Password" ng-model="user.cpassword">
                    </div>
                </div>
            </div>
            <!--!form.$valid  &&-->
            {{user.cpassword != user.npass}}
            <div class="alert alert-danger alert-dismissible" role="alert" ng-if="!form.$valid && form.$submitted || user.npass != user.cpassword && form.$submitted || !form.password.$dirty && form.npassword.$dirty && form.$submitted">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <p ng-show="!form.password.$dirty && form.npassword.$dirty">Current password is required in able to update the password</p>
                <p ng-show="!form.zip.$valid">Please enter valid zip code!</p>
                <p ng-show="user.cpassword != user.npass">New password do not match!</p>
                <p ng-show="!form.npassword.$valid">New password is too weak!</p>
            </div>
            <input type="submit" class="btn btn-primary pull-right shadow" value="Update">
            <a href="#/messages/inbox" ui-sref="messages.inbox" class="btn btn-default pull-right">Cancel</a>
            <div class="clearfix"></div>
        </form>

    </div>


</div>