<cws-nav user="user"></cws-nav>
<div class="container no-padding-md has-fixed-nav">

    <div class="well well-lg shadow profile-form">
        <h4 class="primary">Edit Profile</h4>


        <div class="fieldset">
            <h6 class="primary">Parent/Guardian Name</h6>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter your first name" ng-model="user.first_name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" placeholder="Enter your last name" ng-model="user.last_name">
                </div>
            </div>
        </div>

        <div class="fieldset">
            <h6 class="primary">Physical Address</h6>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="fname">Attention to or In Care of</label>
                            <input type="text" class="form-control" id="fname" placeholder="Enter name" ng-model="user.address.name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="street_address">Street Address</label>
                    <input type="text" class="form-control" id="street_address" placeholder="Enter street address" ng-model="user.address.street_address">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="fname">Street Address 2</label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter street address" ng-model="user.address.street_address2">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="fname">State</label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter street address" ng-model="user.address.state">
                </div>
            </div>
            <div class="col-md-6">
               <div class="row">
                   <div class="col-sm-6">
                       <div class="form-group">
                           <label class="control-label" for="fname">City</label>
                           <input type="text" class="form-control" id="fname" placeholder="Enter city" ng-model="user.address.city">
                       </div>
                   </div>
                   <div class="col-sm-6">
                       <div class="form-group">
                           <label class="control-label" for="fname">Zip Code</label>
                           <input type="text" class="form-control" id="fname" placeholder="Enter zip code" ng-model="user.address.zip">
                       </div>
                   </div>
               </div>
            </div>
        </div>

        <div class="fieldset">
            <h6 class="primary">Logging Settigns</h6>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="fname">Email Address</label>
                    <input type="text" class="form-control" id="fname" placeholder="Enter your email address" ng-model="user.login.email">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="lname">Current Password</label>
                    <input type="text" class="form-control" id="lname" placeholder="Current Password">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="lname">Set Password</label>
                    <input type="text" class="form-control" id="lname" placeholder="Set new Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="lname">Confirm Password</label>
                    <input type="text" class="form-control" id="lname" placeholder="Confirm new Password">
                </div>
            </div>
        </div>

        <input type="submit" class="btn btn-primary pull-right shadow" value="Update">
        <div class="clearfix"></div>

    </div>

</div>